{% extends 'base.html' %}

{% block title %} Cart
{% endblock %}
{% block main_content %}
<h5>Your Cart ({{total_count}}
    {%if total_count>1%} items
    {%else%} item
    )
</h5>
{% if products_in_cart %}
<div class="container mt-3 pt-5">
    <div class="row">
        <div class="col-sm-8 p-3">
            <h5>Your Cart ({{total_count}}
                {%if total_count>1%} Items
                {%else%} Item
                )
            </h5>
            <table class="table table-bordered">
                <thead class="table-success">
                <tr>
                    <th scope="row">Item Name</th>
                    <th scope="row" class="text-center">Quantity</th>
                    <th scope="row" class="text-center">Subtotal</th>
                    <th scope="row" class="text-center">Remove</th>
                </thead>
                </tr>
                <tbody>
                {% for object in products_in_cart %}
                <tr>
                    <td>
                        {% if object.product.image %}
                        <a href="#"><img src="{{ object.product.image.url }}"></a>
                        {% else %}
                        {# <a href="#"><img src="/static/img/product/no_product_image.png" class="img-thumbnail"></a>#}
                        {% endif %}
                        <a href="{% url 'product:detail' object.product.pk %}">{{ object.product.name }}</a>
                    </td>
                    <td class="text-center">
                        <a href="{% url 'product:cart_reduce_item' object.pk %}">
                            <button id="minus">-</button>
                        </a>
                        {{ object.total_count }}
                        <a href="{% url 'product:cart_add_item' object.pk %}">
                            <button id="plus">+</button>
                        </a>
                    </td>
                    <td class="text-center">
                        {{ object.total_price }}
                    </td>
                    <td class="text-center">
                        <a href="{% url 'product:cart_delete_item' object.pk %}">
                            <button id="plus">x</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm-4 p-3">
            <h5>Order Summary )
            </h5>
            <table class="table">

                <tbody>
                <tr>
                    <h6>
                        <td>Subtotal:</td>
                        <td>{{ subtotal_cost }}</td>
                    </h6>
                </tr>
                <tr>
                    <h6>
                        <td>Shipping Cost:</td>
                        <td>{{ ship_cost }}</td>
                    </h6>
                </tr>
                <tr>
                    <h5>
                        <td>Total Cost:</td>
                        <td>{{ total_cost }}</td>
                    </h5>
                </tr>
                </tbody>
            </table>
            <h5><a href="{% url 'order:create' %}">Proceed To Checkout</a></h5>
        </div>
    </div>
</div>
{% else %}
<h5>Your Cart is empty</h5>
{% endif %}

{% endblock %}
