{% extends 'base.html' %}

{% block title %} Cart
{% endblock %}
{% block main_content %}
    {% if products_in_cart %}
        <div class="container mt-3 pt-2 border">
            <div class="row">
                <div class="col-sm-8 p-3">
                    <h5>
                        Your Cart ({{ total_count }})
                    </h5>
                    <table class="table table-bordered">
                        <thead class="table-success">
                        <tr>
                             <th></th>
                            <th scope="row">Item Name</th>
                            <th scope="row" class="text-center align-middle"
                            ">Quantity</th>
                            <th scope="row" class="text-center align-middle"
                            ">Subtotal</th>
                            <th scope="row" class="text-center align-middle"
                            ">Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in products_in_cart %}
                            <tr>
                                <td class="align-middle">
                                    {% if object.product.image %}
                                        <a href="#"><img src="{{ object.product.image.url }}" class="float-start"
                                                         alt="Item_Image" width="204" height="136"></a>
                                    {% else %}
                                        <a href="#"><img src="/static/img/product/no_product_image.png"
                                                         class="float-start" alt="Item_Image" width="204" height="136"></a>
                                    {% endif %}
                                </td>
                                <td class="product-detail text-center align-middle">
                                    <h4><a href="{% url 'product:detail' object.product.pk %}">{{ object.product.name }}</a>
                                    </h4>
                                </td>
                                <td class="text-center align-middle">
                                    <a href="{% url 'product:cart_reduce_item' object.pk %}">
                                        <button id="minus">−</button></a>
                                    {{ object.total_count }}
                                    <a href="{% url 'product:cart_add_item' object.pk %}">
                                        <button id="plus">+</button></a>
                                </td>
                                <td class="text-center align-middle">
                                    {{ object.total_price }}
                                </td>
                                <td class="text-center align-middle">
                                    <a href="{% url 'product:cart_delete_item' object.pk %}">
                                        <button id="plus">x</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-4 p-3">
                    <h5>Order Summary
                    </h5>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <h6>
                                <td class="align-middle">Subtotal:</td>
                                <td class="align-middle">{{ subtotal_cost }}</td>
                            </h6>
                        </tr>
                        <tr>
                            <h6>
                                <td class="align-middle">Shipping Cost:</td>
                                <td class="align-middle">0.00</td>
                            </h6>
                        </tr>
                        <tr>
                            <h5>
                                <td class="align-middle">Total Cost:</td>
                                <td class="align-middle">{{ total_cost }}</td>
                            </h5>
                        </tr>
                        </tbody>
                    </table>
                    <h5><a href="{% url 'order:create' %}">
                        <button class="btn btn-success">Proceed To Checkout</button>
                    </a></h5>
                </div>
            </div>
        </div>
    {% else %}
        <br> <h5>Your Cart Is Empty</h5>
    {% endif %}
{% endblock %}
