{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

</head>

<body>

{#<nav class="navbar navbar-dark" style="background-image: linear-gradient(-45deg, #135475, #299e76);">#}
<nav class="navbar navbar-dark" style="background-image: linear-gradient(-45deg, #3F5EFB,#DC466B);">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">  Magic horse</a>
    </div>
</nav>

{% block main_content %}

{% endblock %}

{% block menu %}
    <ul>
        <li><a href="{% url 'shopauth:register' %}">user registration</a></li>
        <li>
            {% if user.is_anonymous %}
                <a href="{% url 'shopauth:login' %}">login</a>
            {% else %}
                <a href="{% url 'shopauth:logout' %}">logout</a>
                <br>
                <br>
{% block product_list %}
                <a href="{% url 'product:list' %}">to products list </a>
 {% endblock %}
            {% endif %}
        </li>
    </ul>
{% endblock %}

</body>
</html>
