{% extends 'base.html' %}
{% block title %} {{ title }}
{% endblock %}
{% block main_content %}
    <p> Welcome to our shop main page!
        Our aim is to provide the very best products for you and your horse, not only at the lowest prices but with the
        back up of excellent customer service and after sales service.
    </p>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <div class="product-card">
                    <div class="product-thumb" >
                        <a href="#"><img src="/static/img/product/img1.png" ></a>
                    </div>
                    <div class="product-detail">
                        <h4><a href="#">Шлем</a></h4>
                        <p>Прекрасный шлем для всадника</p>
                        <div class="product-bottom-detail d-flex justify-content-between">
                            <div class="product-price">
                                230.99
                            </div>
                            <div class="product-links">
                                <a href="#"> <i
                                        class="fa-solid fa-cart-shopping"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
