{% extends 'base.html' %}
{% block title %} {{ title }}
{% endblock %}
{% block main_content %}
    <div class="container mt-3 pt-2 border">
        <div class="row">
            <div class="col-sm-12 p-3">
                <div  class="text-center">
                     <h5>
                   Welcome to our shop main page!
        Our aim is to provide the very best products for you and your horse, not only at the lowest prices but with the
        back up of excellent customer service and after sales service.
                </h5>
 <img src="/static/img/index.jpg" class="center-block mx-auto d-block " alt="...">
          </div>

        </div>
    </div>
</div>




{% endblock %}