{% extends "base.html" %}

{% block title %}Thank you{% endblock %}

{% block main_content %}
    <div class="container mt-3 pt-2 border">
        <div class="row">
                <div class="col-sm-8 p-3">
                    <h5>Thank You!</h5>
                    <p><h5>Your Order has been successfully completed.</h5></p>
                    <h5>
                        Your Order number: #{{ order.pk }}.
                        Your Order status:
                        {% ifequal order.status "C" %} created
                        {% endifequal %}
                        {% ifequal order.status "A" %} active
                        {% endifequal %}
                        {% ifequal order.status "F" %} finished
                        {% endifequal %}
                    </h5>
                    <table class="table table-bordered ">
                        <thead class="table-success">
                        <tr>
                            <th></th>
                            <th scope="row" class="text-center">Item Name</th>
                            <th scope="row" class="text-center">Quantity</th>
                            <th scope="row" class="text-center">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in products_in_order %}
                            {% ifequal object.order order %}
                                <tr>
                                    <td class="text-center align-middle">{% if object.product.image %}
                                        <a href="#"><img src="{{ object.product.image.url }}"></a>
                                    {% else %}
                                        {#                        <a href="#"><img src="/static/img/product/no_product_image.png"></a>#}
                                    {% endif %}
                                    </td>
                                    <td class="text-center align-middle"><a
                                            href="{% url 'product:detail' object.product.pk %}">{{ object.product.name }}</a>
                                    </td>
                                    <td class="text-center align-middle">{{ object.total_count }}</td>
                                    <td class="text-center align-middle">{{ object.total_price }}</td>
                                </tr>
                            {% endifequal %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <tbody>
                        <tr>
                            <h5>
                                <td class="align-middle text-end"><b>Total Cost: {{ order.total_price }}</b></td>
                            </h5>
                        </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>

{% endblock %}
