{% extends "base.html" %}

{% block title %}Order{% endblock %}

{% block main content %}

<h1>Your Orders</h1>
Order number is <strong>{{ order.id }}</strong>.</p>
Order status is <strong>{{ order.status }}</strong>.</p>
<table class="table">
    <tbody>
    <tr>
        {% for object in products_in_order %}
        <th scope="row"></th>
        <td><a href="">{{ object.product.name }}</a></td>
        <td>{{ object.total_count }}</td>
        <td>{{ object.total_price }}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
<h5> Total Cost: {{ total_cost }}</h5>
{% endblock %}
